
body{
  background-image: url(background.jpg);
  background-size: cover;
  padding: 2%;
}

.contenitore{
  width: 55%;
  margin: auto;
  backdrop-filter: invert(25%);
  padding: 4% 6%;
  border-radius: 20px;
}

header{
  text-align: center;
}

header > div{
  font-weight: bold;
  font-size: 26px;
  color: #00FF00;
  text-shadow: 0 0 2px black;
}

#logo{
  width: 25%;
}

nav{
  background-color: #00FF00;
  text-align: center;
  padding: 2%;
}

button[type="button"]{
  font-size: 10px;;
}

main{
  color: white;
  font-size: 14px;
}

section > .monopattino{
  font-weight: bold;
  font-size: 20px;
}

input[type="checkbox"]{
  height: 10px;
  width: 10px;
}

section > .indirizzo:before{
  content: "\22B3";
}

section > div:last-child {
  height: 20px;
  border-radius: 5px;
}

section .carica1{
  width: 30%;
  background-color: #FFD700;
}

section .carica2{
  width: 60%;
  background-color: #00FF00;
}

section .carica3{
  width: 15%;
  background-color: #CD5C5C;
}

hr{
  border: 0px;
}
